<!DOCTYPE html>
<html>
<head>
	<title>用户注册</title>
	<link rel="stylesheet" href="__PUBLIC__/Admin/left/css/index.css">
	
</head>
<body>
<div class="register">
	<div class="tips">
		<p>{$err|default="&nbsp;"}</p>
	</div>
	<form action=""  method="POST" id="ajaxForm">
		<input type="hidden" name="goods_id" value="{$info.goods_id}">
		<ul>
			<li>
				<label for="">商品名称</label>
				<input  class="name" type="text" name="goods_name" value="{$info.goods_id}" />
			</li>
			<li>
				<label for="">商品价格</label>
				<input class="password" type="text" name="goods_price" value="{$info.goods_price}"  />
			</li>
			<li>
				<label for="">商品数量</label>
				<input class="confirm"  type="text" name="goods_num"  value="{$info.goods_num}" />
			</li>
			<li>
				<label for="">商品图片</label>
				<input class="confirm"  type="text" name="goods_img"  value="{$info.goods_img}" />
			</li>

			<li>
				<label for=""></label>
				<input class="submit" type="submit" value="立即添加"/>
			</li>
		</ul>
		
	</form>

</div>
</body>
</html>