<!DOCTYPE html>
<html>
<head>
	<title>用户注册</title>
	<link rel="stylesheet" href="__PUBLIC__/Admin/left/css/index.css">
	
</head>
<body>
<div class="register">
	<div class="tips">
		<p>{$err|default="&nbsp;"}</p>
	</div>
	<form action=""  method="POST" id="ajaxForm">
		<ul>
			<li>
				<label for="">用户名</label>
				<input  class="name" type="text" name="username" value="" />
			</li>
			<li>
				<label for="">密码</label>
				<input class="password" type="text" name="password" value=""  />
			</li>
			<li>
				<label for="">年龄</label>
				<input class="confirm"  type="text" name="age"  value="" />
			</li>
			<li>
				<label for=""></label>
				<input class="submit" type="submit" value="立即添加"/>
			</li>
		</ul>
	</form>

</div>
</body>
</html>